<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
      <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/chooseTrain.css') }}">
    </head>
   <body>

      <div id="main">

         <div id="page1">

            <header id="header">
               <nav class="neumorphic-nav">
                 <div class="logo">
                   <h3>Bhara<span>tभ्र</span>मण</h3>
                 </div>
               <div id="nav-c">
                 <a id="home" href="/" class="buy" data-tilt data-tilt-scale="1.08"><i class="ri-home-fill" ></i>{{ pageLang["translatedData"]["home"] }}</a>
                    <a id="flight" class="buy" data-tilt data-tilt-scale="1.08" href="/flight"><i class="ri-flight-takeoff-line"></i>{{ pageLang["translatedData"]["flight"] }}</a>
                    <a id="train" href="/train" class="buy" data-tilt data-tilt-scale="1.08"><i class="ri-train-fill"></i>{{ pageLang["translatedData"]["train"] }}</a>
                    <a id="hotel" class="buy" data-tilt data-tilt-scale="1.08"href="/hotels"><i class="ri-hotel-fill"></i>{{ pageLang["translatedData"]["hotel"] }}</a>
                  <a id="multi-destination" href="/round_trip" class="buy" data-tilt data-tilt-scale="1.08"><i class="ri-checkbox-multiple-fill"></i>{{ pageLang["translatedData"]["multi-destination"] }}</a>
               </div>
                 <div id="logo-part2">

                     <div class="form-group">
                 <select id="language" placeholder="language"   name="language" required  class="buy" data-tilt data-tilt-scale="1.02">
                    <option selected value="{{ pageLang["language"] }}">{{ pageLang["codeToLang"][pageLang["language"]] }}</option>
                    {% for languages in supportedLanguage %}
                        {% if supportedLanguage[languages]== pageLang["language"] %}
                        {% else %}
                        <option value="{{ supportedLanguage[languages] }}">{{ languages }}</option>
                        {% endif %}
                    {% endfor %}
                 </select>
               </div>


                   <a href="/log-in" id="login" class="login"class="buy" data-tilt data-tilt-scale="1.08"><i class="ri-user-fill"></i>{{ pageLang["translatedData"]["login"] }}</a>
                 </div>


               </nav>
             </header>

            <div id="page1image"></div>
            <div id="center">
               <div class="neumorphic-box">
                        <div class="section1" >
                         <div class="box">
                            <h3>{{ data["src"] }}</h3>
                         </div>
                      </div>
                      <div class="section1" >
                         <div class="box">
                            <h3>{{ data["dest"] }}</h3>
                         </div>
                      </div>
                      <div class="section">
                         <div class="box">
                            <h3>{{ data["deptDate"] }}</h3>
                         </div>
                      </div>
               </div>
            </div>
            <h1 id="updates">{{ pageLang["translatedData"]["updates"] }}</h1>
            <!-- <div id="planevdo">
            </div> -->
            <div id="boxes">
                {% for trainInfo in data["trainData"] %}
                  <form action="/hotel-details?sessionId={{ data['sessionId'] }}" method="post">
                     <div class="box1">
                        <div class="firstdiv">
                           <h3 id="firstdivh31" >{{ trainInfo["trainName"] }}</h3>
                           <h3 id="firstdivh32">{{ trainInfo["trainNo"] }}</h3>
                        </div>
                        <div class="seconddiv">
                          <div id="traininfo">
                           <div id="traininfoleft">
                              <h3>{{ trainInfo["departure"] }}</h3>
                              <div class="vl"></div>

                              <h3 id="traininforighth32">{{ trainInfo["source"] }}</h3>

                           </div>
                           <div id="traininfocenter">


                             <h3 id="traininfocenterh3">{{ trainInfo["duration"] }}</h3>
                              <hr style="height:4px; width:30%;color:black;background-color:black">

                           </div>
                           <div id="traininforight">
                              <h3 id="traininforighth3">{{ trainInfo["arrival"] }}</h3>
                              <div class="vl"></div>
                              <h3 id="traininforighth32">{{ trainInfo["destination"] }}</h3>
                           </div>

                          </div>

                        </div>
                        <div class="thirddiv">
                                <h3>{{ trainInfo["fare"] }} {{ data["currency"] }}</h3>
                              <input type="submit" value='{{ pageLang["translatedData"]["slctTrain"] }}' id="bookp">
                        </div>

                     <input hidden name="selectedLang" id="selectedLang" value="{{ pageLang['language'] }}">
                      <input type="hidden" id="trainData" name="trainData" value= "{{ trainInfo }}">
                     </div>
                  </form>
                {% endfor %}

            </div>
            <div id="page1im2"></div>
         <form name="languageSelector" id="languageSelector" action="/plan-trip" method="post">
          <input hidden name="selectedLang" id="lang" value="{{ pageLang["language"] }}">
            <input hidden name="reqType" id="reqType" value="translateDataTrain">
            <input hidden name="data" id="data" value="{{ data }}">
         </div>

      </div>
      <script>
          const dropdown = document.getElementById('language');
          dropdown.addEventListener('change', (event) => {
          const selectedValue = event.target.value;
            document.querySelector("#lang").value = selectedValue;
            document.getElementById('languageSelector').submit(); //<form>
        });
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.8.0/vanilla-tilt.min.js" integrity="sha512-RX/OFugt/bkgwRQg4B22KYE79dQhwaPp2IZaA/YyU3GMo/qY7GrXkiG6Dvvwnds6/DefCfwPTgCXnaC6nAgVYw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   </body>
</html>