<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trip Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/chooseGuide.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
<body>
    <!-- <div id="circl"></div> -->
    <div id="main">
      <header id="header">
        <nav class="neumorphic-nav">
          <div class="logo">
            <h3>Bhara<span>tभ्र</span>मण</h3>
          </div>
        <div id="nav-c">
      <a id="home" href="/" class="buy" data-tilt data-tilt-scale="1.08"><i class="ri-home-fill" ></i>{{ pageLang["translatedData"]["home"] }}</a>
        <a id="flight" class="buy" data-tilt data-tilt-scale="1.08" href="/#"><i class="ri-flight-takeoff-line"></i>{{ pageLang["translatedData"]["flight"] }}</a>
        <a id="train" href="/#" class="buy" data-tilt data-tilt-scale="1.08"><i class="ri-train-fill"></i>{{ pageLang["translatedData"]["train"] }}</a>
        <a id="hotel" class="buy" data-tilt data-tilt-scale="1.08"href="/guide"><i class="ri-group-line"></i>{{ pageLang["translatedData"]["hotel"] }}</a>
      <a id="multi-destination" href="/chat" class="buy" data-tilt data-tilt-scale="1.08"><i class="ri-chat-1-fill"></i>{{ pageLang["translatedData"]["multi-destination"] }}</a>
        </div>
          <div id="logo-part2">

              <div class="form-group">
          <select id="language" placeholder="language"   name="language" required  class="buy" data-tilt data-tilt-scale="1.02">
                <option selected value="{{ pageLang["language"] }}">{{ pageLang["codeToLang"][pageLang["language"]] }}</option>
                    {% for languages in supportedLanguage %}
                        {% if supportedLanguage[languages]== pageLang["language"] %}
                        {% else %}
                        <option value="{{ supportedLanguage[languages] }}">{{ languages }}</option>
                        {% endif %}
                    {% endfor %}
          </select>
        </div>


            <a href="/add-guide" class="login"class="buy" data-tilt data-tilt-scale="1.08"><i class="ri-user-fill"></i>{{ pageLang["translatedData"]["login"] }}</a>
          </div>


        </nav>
      </header>
          <div id="page1">


            <div id="center">

          </div>
          <h1 id="updates">{{ pageLang["translatedData"]["updates"] }}</h1>


           <div id="boxes">
            {% if data.get("flightData")!=None %}
                   <form action="/" method="post">
                      <div class="box1">
                         <div class="box1l"><a  id="finaltags"class="buy" data-tilt data-tilt-scale="1.08" href="/#"><i class="ri-flight-takeoff-line"></i></a>
                         </div>
                         <div class="box1c" >
                             <div id="box1c_part1">
                                 <h5>{{ data["flightData"]["flightId"] }}</h5>

                                 <h3>{{ data["flightData"]["flightName"] }}</h3>

                </div>
                            <div id="box1c_part2">
                            <div class="boxc11">
                               <h3>{{ data["flightData"]["departure"] }}</h3>
                               <h5>{{ data["flightData"]["src"] }}</h5>
                            </div>

                            <div id="boxc12">
                               <h3 class="boxc12h3">{{ data["flightData"]["duration"] }}</h3>
                            </div>
                            <div id="boxc13">
                               <h3>{{ data["flightData"]["arrival"] }}</h3>
                               <h5>{{ data["flightData"]["destination"] }}</h5>
                            </div>
                            </div>
                         </div>
                         <div class="box1r">
                             <h2>{{ data["flightData"]["fare"] }}</h2>
                         </div>
                      </div>
                   </form>
               {% endif %}
               {% if data.get("trainData")!=None %}
               <form action="/" method="post">
                  <div class="box1" >
                     <div class="box1l">
                        <a  id="finaltags"class="buy" data-tilt data-tilt-scale="1.08" href="#"><i class="ri-train-fill"></i></a>
                        <div id="box1lfirst">
                           <a href="{{ data["trainData"]["mapsDeeplink"] }}" class="buy" data-tilt data-tilt-scale="1.08"><i class="ri-map-pin-line"></i></a>
                           <a href="https://www.olacabs.com/" class="buy" data-tilt data-tilt-scale="1.08"><i class="ri-taxi-line"></i></a>
                        </div>
                     </div>

                     <div class="box1c" >
                         <div id="box1c_part1">
                             <h5 id="box1rh3">{{ data["trainData"]["trainNo"] }}</h5>

                        <h3 id="box1rh3">{{ data["trainData"]["trainName"] }}</h3>

          </div>
                          <div id="box1c_part2">
                        <div class="boxc11">
                           <h3>{{ data["trainData"]["departure"] }}</h3>
                           <h5>{{ data["trainData"]["source"] }}</h5>
                        </div>
                        <div id="boxc12">
                           <h3 class="boxc12h3">{{ data["trainData"]["duration"] }}</h3>
                        </div>
                        <div id="boxc13">
                           <h3>{{ data["trainData"]["arrival"] }}</h3>
                           <h5>{{ data["trainData"]["destination"] }}</h5>
                        </div>
                          </div>
                     </div>
                     <div class="box1r">
                         <h2>{{ data["trainData"]["fare"] }} {{ data["currency"] }}</h2>
                     </div>
                  </div>
               </form>
               {% endif %}
               <!-- <form action="/" method="post">  <div class="box1" > <div class="box1l"> <a  id="finaltags"class="buy" data-tilt data-tilt-scale="1.08" href="/flight"><i class="ri-hotel-fill"></i></a></div> <div class="box1c" ><div class="boxc11"> <h3>09:59</h3> <h5>Australi</h5></div>
                  <div id="boxc12"> <h3>12h 10min</h3><hr></div> <div id="boxc13"><h3>00.05</h3><h5>Delhi</h5></div></div> <div class="box1r"><h3>VN residency</h3> </div></div>
                  </form> -->
               <form action="/hotels" method="post">
                  <div class="box1" id="box1" >
                     <div class="box1l">
                        <a  id="finaltags"class="buy" data-tilt data-tilt-scale="1.08" href="#"><i class="ri-hotel-fill"></i></a>
                        <div id="box1lfirst">
                           <a href="{{ data["hotelData"]["mapsDeeplink"] }}" class="buy" data-tilt data-tilt-scale="1.08"><i class="ri-map-pin-line"></i></a>
                           <a href="https://www.olacabs.com/" class="buy" data-tilt data-tilt-scale="1.08"><i class="ri-taxi-line"></i></a>
                        </div>
                     </div>
                     <div class="box1c" >
                         <div id="box1c_part1">
                           <h3>{{ data["hotelData"]["name"] }}</h3>

          </div>
                         <div id="box1c_part2">

                        <div class="boxc11">
                           <h5>{{ data["hotelData"]["location"] }}</h5>
                        </div>
                        <div id="boxc12">
                           <h6 id="rting">{{ pageLang["translatedData"]["rting"] }}: {{ data["hotelData"]["rating"] }}</h6>
                        </div>
                        <div id="boxc13" >
                            <img id="box13_image"src="{{ data["hotelData"]["image"] }}" alt="" srcset="">
                        </div>
                                   </div>
                     </div>
                          <div class="box1r"><h2>{{ data["hotelData"]["price"] }} {{ data["currency"] }}</h2></div>
                  </div>
               </form>
           </div>


           </div>
           <h1 id="page1h1">{{ pageLang["translatedData"]["page1h1"] }} {{ data["destinationData"]["city"] }}</h1>
            {% for x in range(0, 6, 2) %}
           <div id="page2">
            <div class="popup" id="popup{{ x }}">
              <div id="boxes1">
                    {% for guide in data["content"][x]["guide"] %}
                   <div class="box1" > <div class="box1l"><img id="image" src="https://tse3.mm.bing.net/th?id=OIP.qQs7KLHfMrpZKq-7IzhrsgEyDM&pid=Api&P=0&h=180" alt="" srcset=""></div>
                    <div class="box1c" id="box1c">

                      <div class="boxc11">
                        <h2 id="guide_name">{{ guide['guideName'] }}</h2>


                     <h3 id="langauges" ><span>Languages known:</span> {{ guide['langKnown'] }}</h3>
                     <h5 id="Rating_guide">Age : {{ guide['guideAge'] }}</h5>


                    </div>

                  </div>
                       <div class="box1r"><h3>Price:₹{{ guide['price'] }}</h3>  <input type="submit" value="Book" id="box1submit"></div></div>

            {% endfor %}


              </div>
              <a href="#" onclick="hide('popup{{ x }}')"><i class="ri-close-fill" id="close"></i></a>
            </div>
           <div id="page2center">
           <div id="page2left">
            <div id="wrapper">
              <h1>{{ data["content"][x]["placeName"] }}
              </h1>
                  <a  href="#">
           <img onclick="show('popup{{ x }}')" id="wrapper_img" src="{{ url_for('static', filename='images/guideIcon.ico') }}" alt="" srcset="">

           </a>
           <h4 id="Guides_h3">Guides</h4>
                <div id="icon">
            <a href="{{ data["content"][x]["mapsDeeplink"] }}" class="buy" data-tilt data-tilt-scale="1.08"><i class="ri-map-pin-line"></i></a>
            <a href="https://www.olacabs.com/" class="buy" data-tilt data-tilt-scale="1.08"><i class="ri-taxi-line"></i></a>
           </div>
        </div>
              <h4>{{ data["content"][x]["address"] }}</h4>
            <h3>{{ data["content"][x]["description"] }}</h3>
           </div>
           <div id="page2right">
            <div class="page2box" id="box1first" style="background-image:url({{ data["content"][x]["imageUrl"][0] }});">

            </div>
            <div class="page2box" id="box1second" style="background-image:url({{ data["content"][x]["imageUrl"][1] }});"></div>
           </div>
           </div>

           </div>
            {% set x = x + 1 %}
           <div id="page2" class="page2">
            <div class="popup" id="popup{{ x }}">
              <div id="boxes1">
                {% for guide in data["content"][x]["guide"] %}
                   <div class="box1" > <div class="box1l"><img id="image" src="https://tse3.mm.bing.net/th?id=OIP.qQs7KLHfMrpZKq-7IzhrsgEyDM&pid=Api&P=0&h=180" alt="" srcset=""></div>
                    <div class="box1c" id="box1c">

                      <div class="boxc11">
                        <h2 id="guide_name">{{ guide['guideName'] }}</h2>


                     <h3 id="langauges" ><span>Languages known:</span> {{ guide['langKnown'] }}</h3>
                     <h5 id="Rating_guide">Age : {{ guide['guideAge'] }}</h5>


                    </div>

                  </div>
                       <div class="box1r"><h3>Price:₹{{ guide['price'] }}</h3>  <input type="submit" value="Book" id="box1submit"></div></div>

            {% endfor %}
              </div>
              <a href="#" onclick="hide('popup{{ x }}')"><i class="ri-close-fill" id="close"></i></a>
            </div>
           <div id="page2center">

           <div id="page2right">
            <div class="page2box" id="box1first" style="background-image:url({{ data["content"][x]["imageUrl"][0] }});">

            </div>
            <div class="page2box" id="box1second" style="background-image:url({{ data["content"][x]["imageUrl"][1] }});"></div>
            <!-- <div class="page2box" id="box1third"></div> -->
           </div>

           <div id="page2left">
            <div id="wrapper">
                <h1>{{ data["content"][x]["placeName"] }}</h1>

           <a  href="#">
            <img onclick="show('popup{{ x }}')" id="wrapper_img" src="{{ url_for('static', filename='images/guideIcon.ico') }}" alt="" srcset="">

            </a>
            <h4 id="Guides_h3">Guides</h4>

            <div id="icon">
            <a href="{{ data["content"][x]["mapsDeeplink"] }}" class="buy" data-tilt data-tilt-scale="1.08"><i class="ri-map-pin-line"></i></a>
            <a href="https://www.olacabs.com/" class="buy" data-tilt data-tilt-scale="1.08"><i class="ri-taxi-line"></i></a>
           </div>
              </div>
                <div>
              <h4>{{ data["content"][x]["address"] }}</h4>

            <h3>{{ data["content"][x]["description"] }}</h3>

           </div>

           </div>
           </div>
           </div>


    {% endfor %}
    <form action="/save-trip" method="post">
      <input type="submit" value="Save-Trip" id="save" class="btn-hover color-9">
        <input type="hidden" id="sessionId_ST" name="sessionId" value= "{{ data['sessionId'] }}">
    </form>

    <form name="languageSelector" id="languageSelector" action="/trip-detail" method="post">
          <input hidden name="selectedLang" id="lang" value="{{ pageLang["language"] }}">
            <input hidden name="sessionId" id="sessionId" value="{{ data['sessionId'] }}">
    </div>
    <script>
          const dropdown = document.getElementById('language');
          dropdown.addEventListener('change', (event) => {
          const selectedValue = event.target.value;
            document.querySelector("#lang").value = selectedValue;
            document.getElementById('languageSelector').submit(); //<form>
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js" integrity="sha512-f8mwTB+Bs8a5c46DEm7HQLcJuHMBaH/UFlcgyetMqqkvTcYg4g5VXsYR71b3qC82lZytjNYvBj2pf0VekA9/FQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js" integrity="sha512-A64Nik4Ql7/W/PJk2RNOmVyC/Chobn5TY08CiKEX50Sdw+33WTOpPJ/63bfWPl0hxiRv1trPs5prKO8CpA7VNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.8.0/vanilla-tilt.min.js" integrity="sha512-RX/OFugt/bkgwRQg4B22KYE79dQhwaPp2IZaA/YyU3GMo/qY7GrXkiG6Dvvwnds6/DefCfwPTgCXnaC6nAgVYw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ url_for('static', filename='scripts/chooseGuide.js') }}"></script>
</body>
</html>