<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
      <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/chooseFlight.css') }}">
    </head>
   <body>

      <div id="main">

         <div id="page1">
            <header id="header">
               <nav class="neumorphic-nav">
                 <div class="logo">
                   <h3>Bhara<span>tभ्र</span>मण</h3>
                 </div>
               <div id="nav-c">
                 <a id="home" href="/" class="buy" data-tilt data-tilt-scale="1.08"><i class="ri-home-fill" ></i>{{ pageLang["translatedData"]["home"] }}</a>
                    <a id="flight" class="buy" data-tilt data-tilt-scale="1.08" href="/flight"><i class="ri-flight-takeoff-line"></i>{{ pageLang["translatedData"]["flight"] }}</a>
                    <a id="train" href="/train" class="buy" data-tilt data-tilt-scale="1.08"><i class="ri-train-fill"></i>{{ pageLang["translatedData"]["train"] }}</a>
                    <a id="hotel" class="buy" data-tilt data-tilt-scale="1.08"href="/hotels"><i class="ri-hotel-fill"></i>{{ pageLang["translatedData"]["hotel"] }}</a>
                  <a id="multi-destination" href="/round_trip" class="buy" data-tilt data-tilt-scale="1.08"><i class="ri-checkbox-multiple-fill"></i>{{ pageLang["translatedData"]["multi-destination"] }}</a>
               </div>
                 <div id="logo-part2">

                     <div class="form-group">
                 <select id="language" placeholder="language"   name="language"required  class="buy" data-tilt data-tilt-scale="1.02">
                    <option selected value="{{ pageLang["language"] }}">{{ pageLang["codeToLang"][pageLang["language"]] }}</option>
                    {% for languages in supportedLanguage %}
                        {% if supportedLanguage[languages]== pageLang["language"] %}
                        {% else %}
                        <option value="{{ supportedLanguage[languages] }}">{{ languages }}</option>
                        {% endif %}
                    {% endfor %}
                 </select>
               </div>

                   <a href="/log-in" id="login" class="login"class="buy" data-tilt data-tilt-scale="1.08"><i class="ri-user-fill"></i>{{ pageLang["translatedData"]["login"] }}</a>
                 </div>


               </nav>
             </header>
            <img id="page1image"src="{{ url_for('static', filename='images/index_flightIcon.jpg') }}" alt="" srcset="">
            <div id="center">
               <div class="neumorphic-box">
                  <div class="section1" >
                     <div class="box">
                        <h3>{{ data["flightData"][0]["src"] }}</h3>
                     </div>
                  </div>
                  <div class="section1" >
                     <div class="box">
                        <h3>{{ data["flightData"][0]["destination"] }}</h3>
                     </div>
                  </div>
                  <div class="section">
                     <div class="box">
                        <h3>{{ data["deptDate"] }}</h3>
                     </div>
                  </div>
               </div>
            </div>
            <h1 id="right_h1">{{ pageLang["translatedData"]["right_h1"] }}</h1>

            <div id="boxes">

                {% for flightInfo in data["flightData"] %}
                   <form action="/train-details?sessionId={{ data['sessionId'] }}" method="post">
                      <div class="box1">
                         <div class="box1l">
                            <h3>{{ flightInfo["flightName"] }}</h3>
                            <h5>{{ flightInfo["flightId"] }}</h5 o>

                         </div>
                         <div class="box1c" >
                            <div class="boxc11">
                               <h3>{{flightInfo["departure"]}}</h3>
                               <h5>{{flightInfo["src"]}}</h5>
                            </div>
                            <div id="boxc12">
                               <h3>{{flightInfo["duration"]}}</h3>
                               <hr>
                            </div>
                            <div id="boxc13">
                               <h3>{{flightInfo["arrival"]}}</h3>
                               <h5>{{flightInfo["destination"]}}</h5>
                            </div>
                         </div>
                         <input type="hidden" id="flightData" name="flightData" value= "{{flightInfo}}">
                          <input hidden name="selectedLang" id="selectedLang" value="{{ pageLang['language'] }}">
                         <div class="box1r">
                            <h3>{{flightInfo["fare"]}}</h3>
                            <input type="submit" value="{{ pageLang["translatedData"]["slctFlight"] }}" id="box1submit">
                         </div>
                      </div>
                   </form>
               {% endfor %}

            </div>

            <div id="page1im"></div>
            <div id="page1im2"></div>
         </div>
        <form name="languageSelector" id="languageSelector" action="/plan-trip" method="post">
          <input hidden name="selectedLang" id="lang" value="{{ pageLang["language"] }}">
            <input hidden name="reqType" id="reqType" value="translateDataFlight">
            <input hidden name="data" id="data" value="{{ data }}">
      </div>
      <script>
          const dropdown = document.getElementById('language');
          dropdown.addEventListener('change', (event) => {
          const selectedValue = event.target.value;
            document.querySelector("#lang").value = selectedValue;
            document.getElementById('languageSelector').submit(); //<form>
        });
      </script>
      <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
      <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js" integrity="sha512-f8mwTB+Bs8a5c46DEm7HQLcJuHMBaH/UFlcgyetMqqkvTcYg4g5VXsYR71b3qC82lZytjNYvBj2pf0VekA9/FQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js" integrity="sha512-A64Nik4Ql7/W/PJk2RNOmVyC/Chobn5TY08CiKEX50Sdw+33WTOpPJ/63bfWPl0hxiRv1trPs5prKO8CpA7VNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.8.0/vanilla-tilt.min.js" integrity="sha512-RX/OFugt/bkgwRQg4B22KYE79dQhwaPp2IZaA/YyU3GMo/qY7GrXkiG6Dvvwnds6/DefCfwPTgCXnaC6nAgVYw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <!-- <script src="https://unpkg.com/@studio-freight/lenis@1.0.34/dist/lenis.min.js"></script>  -->
   </body>
</html>