<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Registration Form</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='styles/guideresult.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/sheryjs/dist/Shery.css" /> <!-- Recommended -->
	
	</head>

	<body>
        <header id="header">
            <nav class="neumorphic-nav">
              <div class="logo">
                <h3>Bhara<span>tभ्र</span>मण</h3>
              </div>
            <div id="nav-c">
              <a href="/home" class="buy" data-tilt data-tilt-scale="1.08"
              
              ><i class="ri-home-fill" ></i>Home</a><a class="buy" data-tilt data-tilt-scale="1.08"
              
              href="/flight" ><i class="ri-flight-takeoff-line"></i>Flight</a><a href="/train" class="buy" data-tilt data-tilt-scale="1.08"
              
               ><i class="ri-train-fill"></i>Train</a><a class="buy"data-tilt data-tilt-scale="1.08"
              
              href="/hotels"><i class="ri-hotel-fill"></i>Hotels</a>
              <a href="/guide" class="buy" data-tilt data-tilt-scale="1.08"
              
              ><i class="ri-checkbox-multiple-fill"></i>Guide</a>
            </div>
              <div id="logo-part2">
                
                  <div class="form-group" data-tilt data-tilt-scale="1.08">
              <select id="language" placeholder="language"   name="language"required>
            
                <option value="Bengali">Bengali   আআ</option>
                <option value="Gujrati">Gujrati   (અઅ)</option>
                <option value="Hindi ">Hindi   (आ)</option>
                <option value="Kannda">Kannda   (ಆ)</option>
                <option value="Malyalam">Malyalam   (Aa)</option>
                <option value="Tamil">Tamil   (ஆ)</option>
                <option value="Telugu">Telugu   (ఆ)</option>
                <option value="Urdu">Urdu   (اے)</option>
                <option value="Urdu">English   (Aa)</option>
            
              </select>
            </div>
                
               
                <a href="/add-guide" class="login"class="buy" data-tilt data-tilt-scale="1.08"
                
                ><i class="ri-user-fill"></i>Log-in</a>
              </div>
        
        
            </nav>
          </header>
      <div id="main">
           <h1 id="guide_h1">Here are the guides regarding your place</h1>
           <div id="page3">
           <div class="popup" id="popup1">
            <div id="boxes1">
            {% for guide in data %}
                   <div class="box1" > <div class="box1l"><img id="image" src="https://tse3.mm.bing.net/th?id=OIP.qQs7KLHfMrpZKq-7IzhrsgEyDM&pid=Api&P=0&h=180" alt="" srcset=""></div> 
                    <div class="box1c" id="box1c">

                      <div class="boxc11">
                        <h2 id="guide_name">{{ guide['guideName'] }}</h2>

                       
                     <h3 id="langauges" ><span>Languages known:</span> {{ guide['langKnown'] }}</h3>
                     <h5 id="Rating_guide">Age : {{ guide['guideAge'] }}</h5>
                   
                    
                    </div>
                    
                  </div>
                       <div class="box1r"><h3>Price:₹{{ guide['price'] }}</h3>  <input type="submit" value="Book" id="box1submit"></div></div>

            {% endfor %}
       
            </div>
            </div>
          </div>
      
      </div>

        <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js" integrity="sha512-f8mwTB+Bs8a5c46DEm7HQLcJuHMBaH/UFlcgyetMqqkvTcYg4g5VXsYR71b3qC82lZytjNYvBj2pf0VekA9/FQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js" integrity="sha512-A64Nik4Ql7/W/PJk2RNOmVyC/Chobn5TY08CiKEX50Sdw+33WTOpPJ/63bfWPl0hxiRv1trPs5prKO8CpA7VNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.8.0/vanilla-tilt.min.js" integrity="sha512-RX/OFugt/bkgwRQg4B22KYE79dQhwaPp2IZaA/YyU3GMo/qY7GrXkiG6Dvvwnds6/DefCfwPTgCXnaC6nAgVYw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='scripts/guideresult.js') }}">
</body>
</html>
