:root {
    --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    --msger-bg: #fff;
    --border: 2px solid #ddd;
    --left-msg-bg: #ececec;
    --right-msg-bg: #579ffb;
  }

  html {
    box-sizing: border-box;

  }

  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: var(--body-bg);
    font-family: Helvetica, sans-serif;
  }#icon{
	font-size: 50px;
	cursor: pointer;
	margin-left: 20px;
}

.text{
	font-size:20px;
	color:var(--blac);
	font-weight:100;
}


.neumorphic-nav {
  width:100%;
  height:10vh;

    align-items:flex-start;
    display:flex;
    padding-left:10px;
    position:relative;
    z-index:99;
    background-color:#6A87C9;

}


.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    width:10%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.logo>h3 span{
  color:white;
}




#nav-c a {
  display:flex;
  text-decoration:none;
  font-family:sans-serif;
color:black;
gap:10px;



}

#nav-c
{
margin-left:10%;
  width:60%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:60px;
  font-size:17px;
  /* background-color:red; */
}



#login
{
  color:#6A87C9;
}
#logo-part2
{
width:35%;
margin-left:0%;
height:100%;
position:relative;
display:flex;
gap:30px;
align-items:center;
justify-content:center;
}
#logo-part2 a{
  text-decoration:none;
  color:black;
  gap:20px;
  display:flex;

}


  #header
  {
position:absolute;
top:0;
left:0;
		height:10vh;
		background-color: #f0f0f0;
		box-shadow: 0 8px 16px rgba(0,0,0, 0.1);
	z-index:0;

	width:100%;
  }
  #language {

    width:100%;
    z-index:9;
    padding:12px 70px;
    border: 1px solid white;
    background-color:white;
    border-radius:25px;

    box-shadow: 0 0 2px 0 var(--pri) inset, 0 0 2px 1px pri;

    font-size: 16px;
    margin-top:2.5%;

    outline: none;

}

#text
{
	font-size:20px;
	color:var(--blac);
	border:none;
	box-shadow:none;
}
.field_name{
	margin:10px;
}

.input-area{
	height: 50%;
	width: 100%;
	background-color: var(--whit);
	border-radius: 50px;
	border: 1px solid #6A87C9;
	padding: 5px;
}



#schedule{
	padding: 20px;

}

#logo{
	font-size: 25px;
	color: #6A87C9;
}
/* nav ends */
/* center of page1 */

#center
{
    width:100%;
    height:90vh;
    /* margin-top:10vh; */
    /* background-color:red; */
    display:flex;
    align-items:center;
    justify-content:center;
    padding:20px;
}
#center>#left
{
    width:50%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    font-size:43px;

    position:relative;

}
#right_h1{
  font-family:sans-serif;

    font-weight:100;
    margin-left:3%;
    top:45%;
    width:40%;
    font-size:95px;
    z-index:99;
    font-weight:600;
    position:absolute;
    line-height:100px;

}
#center>#right
{
    width:50%;
    height:100%;

    display:flex;
    align-items:center;
    justify-content:flex-start;
    font-size:43px;

    line-height:110px;

}

/* orenge part animation */
 #gooey {
    height: 22vw;
    width: 26vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right, #6A87C9, #5d7dc8);
    /* background: linear-gradient(to top right,red,blue); */


    top: 45%;
    left:-9%;
    filter: blur(20px);
    animation-name: gooey;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

}

@keyframes gooey {
    from {
        filter: blur(20px);
        transform: translate(10%, -10%) skew(0);
    }

    to {
        filter: blur(30px);
        transform: translate(-10%, 10%) skew(-8deg);
    }
}


  .msger {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 867px;
    margin: 25px 10px;
    height: calc(100% - 140px);
    border: var(--border);
    /* border-radius:10px; */
    background: var(--msger-bg);
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
    border-radius:8px;
    margin-top:5%;
  }

  .msger-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: var(--border);
    background-color:#6A87C9;
    color:white;
    font-weight:500;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
  }

  .msger-chat {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
  }
  .msger-chat::-webkit-scrollbar {
    width: 6px;
  }
  .msger-chat::-webkit-scrollbar-track {
    background: #ddd;
  }
  .msger-chat::-webkit-scrollbar-thumb {
    background: #bdbdbd;
  }
  .msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
  }
  .msg:last-of-type {
    margin: 0;
  }
  .msg-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  }
  .msg-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
    background: var(--left-msg-bg);
  }
  .msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .msg-info-name {
    margin-right: 10px;
    font-weight: bold;
  }
  .msg-info-time {
    font-size: 0.85em;
  }

  .left-msg .msg-bubble {
    border-bottom-left-radius: 0;
  }

  .right-msg {
    flex-direction: row-reverse;
  }
  .right-msg .msg-bubble {
    background-color:#6A87C9;
    color: #fff;
    border-bottom-right-radius: 0;
  }
  .right-msg .msg-img {
    margin: 0 0 0 10px;
  }

  .msger-inputarea {
    display: flex;
    padding: 10px;
    border-top: var(--border);
    background: #eee;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
  }
  .msger-inputarea * {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
  }
  .msger-input {
    flex: 1;
    background:white;
  }
  .msger-send-btn {
    margin-left: 10px;
    background:#6A87C9;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
  }
  .msger-send-btn:hover {
    background: rgb(0, 180, 50);
  }

  .msger-chat {
    /* background-color:#000000; */
    background-image:url("/static/images/chatBot_bg.png");
    /* filter:blur(20px); */
    background-position:center;
    background-size:cover;
}