*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:sans-serif;
    }
    html,body{
    height: 100%;
    width: 100%;

    }
    ::-webkit-scrollbar {
      width:2px;
    }
    #main
    {
        width:100%;
    }
    #page1
    {
      width:100%;
      height:100vh;
      position: relative;
    }
  /* nav starts */
  #icon{
    font-size: 50px;
    cursor: pointer;
    margin-left: 20px;
  }

  .text{
    font-size:20px;
    color:var(--blac);
    font-weight:100;
  }


  .neumorphic-nav {
    width:100%;
    height:10vh;

      align-items:flex-start;
      display:flex;
      padding-left:10px;
      position:relative;
      z-index:99;
      background-color:#6A87C9;

  }


  .logo {
      font-size: 24px;
      font-weight: bold;
      color: #333;
      width:10%;
      height:100%;
      display:flex;
      align-items:center;
      justify-content:center;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
  .logo>h3 span{
    color:white;
  }




  #nav-c a {
    display:flex;
    text-decoration:none;
    font-family:sans-serif;
  color:black;
  gap:10px;



  }

  #nav-c
  {
  margin-left:10%;
    width:60%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:60px;
    font-size:17px;
    /* background-color:red; */
  }



  #login
  {
    color:#6A87C9;
  }
  #logo-part2
  {
  width:35%;
  margin-left:0%;
  height:100%;
  position:relative;
  display:flex;
  gap:30px;
  align-items:center;
  justify-content:center;
  }
  #logo-part2 a{
    text-decoration:none;
    color:black;
    gap:20px;
    display:flex;

  }


    #header
    {

      height:10vh;
      background-color: #f0f0f0;
      box-shadow: 0 8px 16px rgba(0,0,0, 0.1);
    z-index:0;

    width:100%;
    }
    #language {

      width:100%;
      z-index:9;
      padding:12px 70px;
      border: 1px solid white;
      background-color:white;
      border-radius:25px;

      box-shadow: 0 0 2px 0 var(--pri) inset, 0 0 2px 1px pri;

      font-size: 16px;
      margin-top:2.5%;

      outline: none;

  }

  #text
  {
    font-size:20px;
    color:var(--blac);
    border:none;
    box-shadow:none;
  }
  .field_name{
    margin:10px;
  }

  .input-area{
    height: 50%;
    width: 100%;
    background-color: var(--whit);
    border-radius: 50px;
    border: 1px solid #6A87C9;
    padding: 5px;
  }



  #schedule{
    padding: 20px;

  }

  #logo{
    font-size: 25px;
    color: #6A87C9;
  }

/* nav end */


    /* pag1 */
    #center
    {
        width:100%;
        height:90vh;
        /* margin-top:10vh; */
        /* background-color:red; */
        display:flex;
        align-items:center;
        justify-content:center;
        padding:20px;
    }
    #center>#left
    {
        width:50%;
        height:100%;
        display:flex;
        align-items:center;
        justify-content:flex-start;
        font-size:43px;

        position:relative;

    }
    #right>h1{
        /* font-weight:200; */
        margin-left:3%;
        top:45%;
        width:50%;
        font-size:95px;
        z-index:99;
        font-weight:600;
        position:absolute;

        line-height:100px;

    }
    #center>#right
    {
        width:50%;
        height:100%;
        /* background-color:black; */
        /* border:1px solid wheat; */
        display:flex;
        align-items:center;
        justify-content:flex-start;
        font-size:43px;

        line-height:110px;

    }

    /* orenge part animation */
     #gooey {
        height: 26vw;
        width: 26vw;
        position: absolute;
        border-radius: 50%;
        background: linear-gradient(to top right, #6A87C9, #5d7dc8);
        /* background: linear-gradient(to top right,red,blue); */


        top: 45%;
        left:-9%;
        filter: blur(20px);
        animation-name: gooey;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;

    }

    @keyframes gooey {
        from {
            filter: blur(20px);
            transform: translate(10%, -10%) skew(0);
        }

        to {
            filter: blur(30px);
            transform: translate(-10%, 10%) skew(-8deg);
        }
    }


    /* bar */


    .neumorphic-box {
        position:absolute;
    width:60%;
    height:8vh;
        top:10%;
        left:20%;

        overflow:hidden;
        display:flex;
        border-radius:10px;
        align-items:center;
        z-index:999;
        /* box-shadow: 10px 10px 20px #d1d1d1, -10px -10px 20px #ffffff; */
            box-shadow: 10px 10px 20px #6A87C9, -10px -10px 20px #ffffff;


        /* border-right:1px solid #6A87C9; */
        justify-content:center;

      }
      .section1> .box
      {
       width:92%;
       height:40%;
       text-align:center;
       border-radius:10px;
       border:1px solid black;
       display:flex;
       align-items:center;
       justify-content:center;
      }
      .section>.box
      {
       width:92%;
       height:40%;
       text-align:center;
       border-radius:10px;
       border:1px solid black;
       display:flex;
       align-items:center;
       justify-content:center;
      }
      #section3
      {
        display:flex;
      align-items:center;
      flex-direction:column;
      margin-top:10px;

      }
      /* #section3>h3{

        font-weight:100;

      } */
      .section1
      {
        width:38%;
      height:20vh;
      display:flex;
      align-items:center;
      flex-direction:column;
      gap:20px;
      padding:20px;
      border-right:1px solid #6A87C9;

      justify-content:center;
      flex-direction:column;

      }
      .section
      {
        /* position:absolute; */
        width:24%;
      height:20vh;
    display:flex;
      align-items:center;
      flex-direction:column;
      gap:20px;
      border-right:1px solid #6A87C9;

      padding:20px;
      justify-content:center;
      flex-direction:column;
      font-weight:100;


      }
      #boxc13
      {
        width:30%;
        height:100%;
        display:flex;
        align-items:flex-end;
      justify-content:center;
      flex-direction:column;
      /* padding:10px; */
      /* padding-right:10px; */
    }
      .box>h3{
        font-weight:500;

      }
     #boxc13>h3{
      padding-right:10px;

     }
     #boxc13>h5
     {
      padding-right:10px;

     }
     #sub-address
     {
      text-align:left;
     }


      #submit
    {
      background-color:transparent;
      padding:12px 40px;
      border-radius:10px;
      border:none;
      box-shadow: 2px 2px 2px 0 #5d7dc8 inset, 0 0 2px 1px #6A87C9;
    font-size:15px;
    /* margin-bottom:20px; */

    }
    #section3
    {
      display:flex;
      align-items:center;
      justify-content:center;
      /* background-color:red; */
      margin-bottom:20px;

    }


    #leftimage{
      position:absolute;
      right:2%;
      top:35.5%;
      z-index:-9;
    /* height:400px; */

    }
    #page1image{
      /* left:-2%; */
      position:absolute;
      top:57%;
      left:-28%;
      z-index:-100;
      margin-left:21.5%;
      scale:1.5;

    }

    #page1>h1{
        position:absolute;
        top:10%;
        font-weight:600;
        left:50%;
        transform:translate(-50%,-50%);
        font-size:50px;
    white-space:nowrap;


     /* text-shadow: 2px 2px 2px gray; */
        z-index:99;
        /* color:#6A87C9; */
        /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */

    }

    #planevdo
    {
        width:5%;
        height:10vh;
        position:absolute;
        left:75%;
        top:30%;
        border-radius:50%;
        background-image:url(./1a9ba0e0-447f-4204-b692-43865cee1968\ \(1\).jpeg);
    scale:2;
        background-size:cover;
        background-position:center;
    }
    #page1im
    {
        width:20%;
        height:40vh;
        position:absolute;
        top:35%;
        left:-3%;
        scale:2;
        /*background-image:url(https://i.pinimg.com/564x/aa/a6/42/aaa64273b33816e463a327d72eb87dc0.jpg);*/
        background-size:cover;
        background-position:center;
        border-radius:50%;
        z-index:-9;
    }
    #page1im2
    {
        width:20%;
        height:40vh;
        /* background-color:red; */
        position:absolute;
        top:55%;
        right:-1%;
        scale:3;
        /*background-image:url(https://i.pinimg.com/564x/94/51/eb/9451ebfdf1e9fd69b214d0e958a40766.jpg);*/
        background-size:cover;
        background-position:center;
        border-radius:50%;
        z-index:-9;
    }
    #wrapper
{
  display:flex;
  align-items:center;
  justify-content:flex-start;
  gap:10px;
/* position:relative; */

}
#wrapper>h1{
  width:90%;
}
#wrapper > a{
  text-decoration:none;
  margin-top:10px;
  color:black;
  font-size:30px;
  /* background-color:transparent; */
      /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */



}
    #boxes
    {
        width:70%;
        height:120vh;
       position:absolute;
       top:22%;
       left:15%;
        display:flex;
        align-items:center;
        justify-content:flex-start;
        flex-direction:column;
        gap:10px;
        /* background-color:black; */
        /* padding-top:30px; */
        border-radius:10px;
        /* background-color:red; */
       /* border:1px solid black; */
       /* border-right:none;
       border-left:none; */

    }
    #boxes1
    {
        width:90%;
        min-height:25vh;
        /* overflow-y:hidden; */
       position:absolute;
       top:5%;
       left:5%;
       padding:10px;
        display:flex;
        align-items:center;
        justify-content:flex-start;
        flex-direction:column;
        gap:15px;
        /* background-color:black; */
        /* padding-top:30px; */
        border-radius:10px;
        /* background-color:red; */
       /* border:1px solid black; */
       /* border-right:none;
       border-left:none; */

    }
    #circl{
      position: absolute;
      z-index: 9;
      height: 2vw;
      top: 0;
      left: 0;
      pointer-events: none;
      width: 2vw;
      border-radius: 50%;
      /* background-color: #4b414177; */
    }
    form{
      width:100%;
      height:20vh;
    }
    .box1{
        width:100%;
        height:20vh;
        /* margin-top:5%; */
        /* border-right:1px solid black; */
    border-radius:10px;
    background-color:white;
        display:flex;
        box-shadow:1px 1px 2px gray;
        text-align:right;
        /* box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 2px, #5d7dc8 0px -2px 10px, rgba(0, 0, 0, 0.12) 0px 2px 2px, rgba(0, 0, 0, 0.17) 0px 3px 2px, rgba(0, 0, 0, 0.09) 0px -1px 2px; */
        /* text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */

    transition:all ease-in-out cubic-bezier(0.075, 0.82, 0.165, 1);

    }
    .box1:hover{
        /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, #5d7dc8 0px -12px 30px, #5d7dc8 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
        box-shadow: 2px 2px 20px #6A87C9, -5px -5px 20px #ffffff;
       /* scale:1.1; */
    }
    .box1l{
        width:20%;
        height:100%;
       border-right:1px solid gray;
       display:flex;
       align-items:center;
       justify-content:center;
       gap:20px;
       font-size:20px;
      font-weight:100;
      position:relative;
    flex-direction:column;
text-align:right;

    }
    #image
    {
      width:100%;
      height:100%;
      object-fit:cover;
      object-position:center;
    }
    h5{
        font-size:20px;
        font-weight:400;
        text-align:left;

    }
    h6{
        margin-top:5px;
        font-size:17px;
        font-weight:400;
    }
    .box1r
    {
      position:relative;
        text-align:right;
    }
    #box1{
     height:25vh;
     width:100%;


    }
    .boxc11
    {

        width:50%;
        height:100%;
        text-align:center;
        display:flex;
        align-items:flex-start;
        justify-content:center;
        padding-left:10px;
        flex-direction:column;
        gap:10px;
      }

   .box1r{
    display:flex;
    align-items:center;
    justify-content:center;
   }
   #box1rh3
   {
    word-wrap: break-word;
    text-align:center;
   }

    #l1image
    {
        width:100%;
        height:100%;
        object-fit:cover;
        position:absolute;

    }

    .box1c{
        width:60%;
        height:100%;
      display:flex;
      align-items:center;
      justify-content:center;
      flex-direction:column;
    text-align:center;
        border-right:1px solid gray;

    }
#box1c_part1
{
  width:100%;
  height:40%;
  display:flex;
  align-items:center;
  justify-content:flex-start;
  padding-left:10px;
        gap:10px;

  border-bottom:1px solid gray;
}
#box1c_part2
{
height:60%;
  width:100%;
  /* background-color:#5d7dc8; */
  display:flex;
  align-items:center;
  justify-content:center;
  /* flex-direction:column; */
}

    #box1c
    {
      display:flex;
      align-items:center;
      justify-content:center;
    text-align:center;
    gap:20px;
    }
    .box1r
    {
        width:20%;
        height:100%;
        /* border-left:none; */
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    gap:10px;

    }
    #box1submit
        {
            padding:10px 40px;
            border-radius:20px;
            border:none;
            box-shadow: 0 0 2px 0 #5d7dc8 inset, 0 0 2px 1px #6A87C9;
          background-color:white;
        }

        #finaltags
        {
            text-decoration:none;
            scale:2.1;
            color:black;
        }

        #page2
        {
          width:100%;
          min-height:100vh;
          position: relative;
        }

  #page1h1{
/* position:absolute; */
text-align:center;
width:100%;
height:10vh;
/* margin-top:5%; */
font-family:sans-serif;
font-size:40px;
margin-bottom:1%;

/* text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
/* text-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;; */
    text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  }
  #page2left>h4{
  width:80%;
  font-size:20px;
  margin-top:-2%;

  }

  #boxc12>h6
  {
    font-weight:600;

  }
  /* .boxc12 h3{
    text-align:center;
  } */
  /* #address
  {
    margin-left:-2%;
    text-align:center;
  } */

#guide_name
{
  width:100%;
  /* background-color:red; */
  color:#6A87C9;
}
#box13_image
{
  height:104px;
  width:194px;
  border-radius:2px;
  /* padding-right:-10px; */
}


  .box1l a{
  text-decoration:none;
  color:black;
  font-size: 20px;
  }

  #page2center
  {

    width:100%;
    height:80vh;
    /* background-color:red; */
    display:flex;
    align-items:center;
    justify-content:center;
  }
  #page2right
  {
    width:50%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:20px;
  }
  #page2left
  {
    width:50%;
    height:100%;
    display:flex;
    align-items:flex-start;
    gap:20px;
    justify-content:flex-start;
    flex-direction:column;
    padding:40px;
    color:#333;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 2px, #c6d2ee 0px -2px 2px, #c6d2ee 0px 4px 4px, rgba(0, 0, 0, 0.17) 0px 3px 5px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-align:left;
overflow-y:scroll;
    position: relative;

    /* background-color:blue; */
  }


  #boxc12
  {
    width:30%;
     height:100%;
     display:flex;
     align-items:center;
     justify-content:center;
     /* background-color:red; */
     /* padding-left:10px; */
  }
  #page2left h1
  {
   font-size:40px;
   color:#6A87C9;
   text-align:left;
   /* text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */

  }
  #page2left h3{
    font-size:25px;
    width:75%;

  }
  .page2box{
    height:60vh;
    width:40%;
    background-image:url(https://i.pinimg.com/564x/db/5b/75/db5b7551b4a1b5c8c90406194f199580.jpg);
  background-position:center;
  background-size:cover;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
  border-radius:10px;
  /* text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
  #box1second
  {
    margin-right:10%;
    background-image:url(https://i.pinimg.com/564x/b1/31/2c/b1312cfd0c20d8c83463d47e792cae3b.jpg);
    background-position:center;
    background-size:cover;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
/* margin-bottom:10%; */
    border-radius:10px;
    margin-top:10%;
  }
  #wrapper_img
  {
width:40px;
height:40px;
position:absolute;
right:6%;
top:6%;
/* top:17%; */
  }
  #Guides_h3
  {
    width:50px;
    height:50px;
    position:absolute;
    right:6%;
    top:15%;
    color:#5d7dc8;
    scale:1.2;

    /* border-bottom:1px solid black; */
  }


  /* footer */
  .footer{
    background:#000;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    margin-top:13%;
    text-align:center;
    }

    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    .footer i:hover{
      color:gray;
    }
    .footer .row a{
    text-decoration:none;
    color:white;
    transition:0.5s;
    }

    .footer .row a:hover{
    color:#fff;
    }

    .footer .row ul{
    width:100%;
    }

    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }

    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }

    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }

    .popup {
      display: none;
      position:absolute;
      padding: 10px;
      width:100%;
      /* left:  10%; */
      /* margin-left: -150px; */
      height:82vh;
      background-color:#fff;
      top: 14%;
      overflow-y:auto;
      margin-top: -100px;
      /* background: #FFF; */
      border: 3px solid #6A87C9;
      z-index: 20;
    }

    #popup:after {
      position: fixed;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0,0,0,0.5);
      z-index: -2;
    }

    #popup:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      /* background: #FFF; */
      z-index: -1;
    }

    /* Styling buttons & webpage */

    body {
      background-color:#fff;

      font-family: Arial, sans-serif;
      text-align: center;
    }




    .popupk {
      display: none;
      position: fixed;
      padding: 10px;
      width: 280px;
      left: 50%;
      margin-left: -150px;
      min-height: 182px;
      top: 50%;
      transform:translate(-50%,-50%);

      margin-top: -100px;
      background: #FFF;
      border: 3px solid #F04A49;
      z-index: 20;
    }

    #popupk:after {
      position: fixed;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0,0,0,0.5);
      z-index: -2;
    }

    #popupk:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      /* background: #FFF; */
      z-index: -1;
    }

    /* Styling buttons & webpage */

    body {
      background:white;
      font-family: Arial, sans-serif;
      text-align: center;
    }


    a{
      text-decoration:none;
    }
    #close
    {
      font-size:40px;
      text-decoration:none;
      color:red;
      position:absolute;
      top:5%;
      right:1%;
    }

    /*
     */

    #langauges
    {
      /* white-space:nowrap; */
      text-align:center;
      width:100%;
      /* height:10vh; */
      overflow-x:auto;
      font-size:20px;
      /* color:#6A87C9; */
      font-weight:100;
    }

    #Rating_guide
    {
      text-align:center;
      margin-left:35%;
    }


    .popup:after {
      position: fixed;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0,0,0,0.5);
      z-index: -2;
    }

    .popup:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      z-index: -1;
    }
    .popupk:after {
      position: fixed;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0,0,0,0.5);
      z-index: -2;
    }

    .popupk:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: #FFF;
      z-index: -1;
    }

    #icon
    {
      position:absolute;
      display:flex;
      align-items:center;
      justify-content:center;
      gap:5px;
      top:20%;
      right:5%;
    }
    #icon>a
    {
      text-decoration:none;
        font-size:30px;
        color:black;

    }
    #box1_part1
  {
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
  }
    buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 300px;
    font-size:22px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 75px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    margin-top:-10%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}


  .btn-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 #6A87C9;
}