*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  }
  html,body{
  height: 100%;
  width: 100%;
  scroll-behavior:smooth;
  /* overflow:hidden; */
  }
  ::-webkit-scrollbar {
    width: 1px;
  }
  #main
  {
      width:100%;
      overflow-x:hidden;
      position: relative;
  }


   /* nav starts */
   #icon{
    font-size: 50px;
    cursor: pointer;
    margin-left: 20px;
  }

  .text{
    font-size:20px;
    color:var(--blac);
    font-weight:100;
  }


  .neumorphic-nav {
    width:100%;
    height:10vh;

      align-items:flex-start;
      display:flex;
      padding-left:10px;
      position:relative;
      z-index:99;
      background-color:#6A87C9;

  }


  .logo {
      font-size: 24px;
      font-weight: bold;
      color: #333;
      width:10%;
      height:100%;
      display:flex;
      align-items:center;
      justify-content:center;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
  .logo>h3 span{
    color:white;
  }




  #nav-c a {
    display:flex;
    text-decoration:none;
    font-family:sans-serif;
  color:black;
  gap:10px;



  }

  #nav-c
  {
  margin-left:10%;
    width:60%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:60px;
    font-size:17px;
    /* background-color:red; */
  }



  #login
  {
    color:#6A87C9;
  }
  #logo-part2
  {
  width:35%;
  margin-left:0%;
  height:100%;
  position:relative;
  display:flex;
  gap:30px;
  align-items:center;
  justify-content:center;
  }
  #logo-part2 a{
    text-decoration:none;
    color:black;
    gap:20px;
    display:flex;

  }


    #header
    {

      height:10vh;
      background-color: #f0f0f0;
      box-shadow: 0 8px 16px rgba(0,0,0, 0.1);
    z-index:0;

    width:100%;
    }
    #language {

      width:100%;
      z-index:9;
      padding:12px 70px;
      border: 1px solid white;
      background-color:white;
      border-radius:25px;

      box-shadow: 0 0 2px 0 var(--pri) inset, 0 0 2px 1px pri;

      font-size: 16px;
      margin-top:2.5%;

      outline: none;

  }

  #text
  {
    font-size:20px;
    color:var(--blac);
    border:none;
    box-shadow:none;
  }
  .field_name{
    margin:10px;
  }

  .input-area{
    height: 50%;
    width: 100%;
    background-color: var(--whit);
    border-radius: 50px;
    border: 1px solid #6A87C9;
    padding: 5px;
  }



  #schedule{
    padding: 20px;

  }

  #logo{
    font-size: 25px;
    color: #6A87C9;
  }

/* nav end */


         /* pag1 */

    #page1
    {
        width:100%;
        min-height:100vh;
        position: relative;
        overflow-y: scroll;
        scroll-behavior: smooth;
        overflow-x:hidden;
        z-index:9999;
        /* background-color:red; */
        padding-bottom:10px;

    }

        #center
    {
        width:100%;
        height:90vh;
        /* margin-top:10vh; */
        /* background-color:red; */
        display:flex;
        align-items:center;
        justify-content:center;
        padding:20px;
    }
    #center>#left
    {
        width:50%;
        height:100%;
        display:flex;
        align-items:center;
        justify-content:flex-start;
        font-size:43px;
        font-family:gilroy;
        position:relative;

    }
    #right>h1{
        /* font-weight:200; */
        margin-left:3%;
        top:45%;
        width:50%;
        font-size:95px;
        z-index:99;
        font-weight:600;
        position:absolute;
        font-family:gilroy;
        line-height:100px;

    }
    #center>#right
    {
        width:50%;
        height:100%;
        /* background-color:black; */
        /* border:1px solid wheat; */
        display:flex;
        align-items:center;
        justify-content:flex-start;
        font-size:43px;
        font-family:gilroy;
        line-height:110px;

    }




    /* bar */


    .neumorphic-box {
        position:absolute;
       width:66%;
       height:8vh;
        top:13%;
        left:18%;
        text-align:center;
       background-color:transparent;
        overflow:hidden;
        display:flex;
        border-radius:10px;
        align-items:center;
        z-index:999;
        /* box-shadow: 10px 10px 20px #d1d1d1, -10px -10px 20px #ffffff; */
            box-shadow: 10px 10px 20px #6A87C9, -10px -10px 20px #ffffff;


        /* border-right:1px solid #6A87C9; */
        justify-content:center;

      }
      .section1> .box
      {
       width:98%;
       height:40%;
       text-align:center;
       border-radius:10px;
       border:1px solid black;
       display:flex;
       align-items:center;
       justify-content:center;
      }
      .box
      {
       width:98%;
       height:40%;
       border-radius:10px;
       border:1px solid black;

      }
      .section>.box{
        display:flex;
        align-items:center;
        justify-content:center;

      }
      #section3
      {
        display:flex;
      align-items:center;
      flex-direction:column;
      margin-top:10px;

      }
      /* #section3>h3{
        font-family:gilroy;
        font-weight:100;

      } */
      .section1
      {
        width:38%;
      height:20vh;
      display:flex;
      align-items:center;
      flex-direction:column;
      gap:20px;
      padding:20px;
      border-right:1px solid #6A87C9;

      justify-content:center;
      flex-direction:column;

      }
      .box>h3{
        overflow-y:auto;
        white-space:nowrap;
        /*padding-top:15px;*/
        /* background-color:red; */

      }
      .section
      {
        /* position:absolute; */
        width:30%;
      height:20vh;
    display:flex;
      align-items:center;
      justify-content:center;
      flex-direction:column;
      gap:20px;
      border-right:1px solid #6A87C9;

      padding:20px;

      font-weight:100;


      }
      /* .box>h3{
        font-weight:500;

      }
      */

      #submit
    {
      background-color:transparent;
      padding:12px 40px;
      border-radius:10px;
      border:none;
      box-shadow: 2px 2px 2px 0 #5d7dc8 inset, 0 0 2px 1px #6A87C9;
    font-size:15px;
    /* margin-bottom:20px; */

    }



    #leftimage{
      position:absolute;
      right:2%;
      top:35.5%;
      z-index:-9;
    /* height:400px; */

    }
    #page1image{
      /* left:-2%; */
      position:absolute;
      width:100%;
      top:18.5%;
      height:50vh;
      /* right:0%; */
      z-index:100;
      box-shadow: 10px 10px 20px #6A87C9, -10px -10px 20px #ffffff;

      /* margin-left:20.5%; */
      /* margin-left:10%; */
      /* scale:1.2; */
     margin-left:1%;
      scale:.65;
      background-image:url(https://i.pinimg.com/originals/bd/e8/31/bde8311914aec4d7812de732d236a1b8.gif);

      /* background-image:url(https://img.icons8.com/?size=1x&id=xWVjuc9hryql&format=gif); */
      background-position:center;
    background-size:cover;
    }
    #page1>h1{
        position:absolute;
        top:55%;
        overflow-x: hidden;
        /* transform:translate(-50%,-50%); */
        font-size:60px;
    white-space:nowrap;
    z-index:99;
    /* background-color:red; */
    width:100%;
    text-align:center;
    overflow-x:auto;

        text-shadow: 1px 1px 1px black;
        color:#6A87C9;
        /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */

    }

    #planevdo
    {
        width:5%;
        height:10vh;
        position:absolute;
        left:73%;
        top:56%;
        border-radius:50%;
        /* background-color:red; */
        background-image:url(https://i.pinimg.com/564x/d8/62/81/d8628170d1a017cb5d57106e7d3775c9.jpg);
    scale:1.6;
        background-size:cover;
        background-position:center;
    }
    #page1im
    {
        width:20%;
        height:40vh;
        /* background-color:red; */
        position:absolute;
        top:35%;
        left:-3%;
        scale:1.1;
        background-image:url(https://i.pinimg.com/564x/bd/eb/78/bdeb7837e3a4abeb8ebb84f7efffbca9.jpg);
        background-size:cover;
        background-position:center;
        border-radius:4px;
        z-index:-9;
    }
    #page1im2
    {
        width:20%;
        height:40vh;
        background-color:red;
        position:absolute;
        top:120%;
        right:1%;
        scale:1.5;
        background-image:url(https://i.pinimg.com/564x/05/5e/c2/055ec27b208f498b5a59dff7e92e3476.jpg);
        background-size:cover;
        background-position:center;
        border-radius:50%;
        z-index:-9;
    }
    #boxes
    {
        width:85%;
        min-height:100vh;
        position:absolute;
        top:70%;

        margin-left:8%;
        display:flex;

        align-items:flex-start;
        justify-content:flex-start;
        flex-direction:column;
        gap:20px;

        border-radius:10px;



    }
    form{
        width:100%;
        min-height:25vh;
        /* z-index:-100; */


    }
    .box1{
        width:100%;
        min-height:30vh;
       position:relative;
       border-radius:10px;
       /* background-color:red; */
       background-color:white;

        box-shadow:1px 1px 2px gray;

    transition:all ease-in-out cubic-bezier(0.075, 0.82, 0.165, 1);

    }
    .box1:hover{

        box-shadow: 2px 2px 20px #6A87C9, -5px -5px 20px #ffffff;
    }
    .firstdiv
    {
width:100%;
height:30%;
/* background-color:black; */
position:absolute;
top:0%;
left:0%;
display:flex;
align-items:center;
justify-content:flex-start;
text-transform:uppercase;
color:#6A87C9;
padding-left:20px;
display:flex;
gap:10px;
border-bottom:1px solid black;
    }
    .seconddiv
{
width:100%;
height:70%;
top:30%;
position:absolute;

/* background-color:#6A87C9; */
/* background-color:#333; */
/* position:absolute; */

    }
#firstdivh32
{
  color:#6A87C9;
  font-size:28px;
    letter-spacing:2.5px;
}
#firstdivh31
{
  color:black;
  font-size:20px;
  text-align:left;

  width:85%;
}
#traininfo
{
  width:100%;
  height:50%;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:20px;
  position: relative;
}
#traininfoleft
{
  overflow-y:auto;

  width:33%;
  height:8vh;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:10px;

}

#traininfocenter
{
  width:33%;
  height:8vh;

  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;

}

#traininforight
{
  /* overflow-y:auto; */

  width:33%;
  height:8vh;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:10px;

}
.vl {
  border-left: 1px solid gray;
  height: 50px;
  /* padding-top:10px; */
}
#traininforighth32
{
  text-transform:uppercase;
  /* background-color:red; */
    display: flex;
    align-items:center;
    justify-content: center;
  /*display:inline-block;*/
  /*overflow-y:auto;*/
  height:120%;

}
.thirddiv{
  width:100%;
  height:8vh;
bottom:0%;
position:absolute;
/* background-color:#6A87C9; */
display:flex;
align-items:center;
justify-content:flex-start;
/* margin-left:2%; */
gap:20px;
border-top:1px solid gray;

background-color:white;
padding-left:2%;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;


}

#bookp
{
  padding:10px 80px;
  border-radius:40px;
  background-color:#6A87C9;
  /* margin-top:-.5%; */
}

#coaches
{
  width:80%;
  height:100%;
  /* background-color:red; */
  display:flex;
  align-items:center;
  justify-content:flex-start;
  gap:10px;
}

.coach
{

  width:20%;
  height:80%;
  display:flex;
  align-items:center;
  justify-content:center;
  /* padding-top:2px; */

  /* padding-left:20px; */
  /* flex-direction:column; */
  gap:12px;
  background-color:transparent;
  border-radius:10px;
/* overflow-x:auto; */
  border:2px solid #6A87C9;
}


.play-btn {
  width: 100px;
  height: 100px;
  background: radial-gradient( #6A87C9 60%, rgba(255, 255, 255, 1) 62%);
  border-radius: 50%;
  position: relative;
  display: block;
  /* margin: 10px auto; */
  scale:.4;
  position:absolute;
  right:2%;
  margin-top:.5%;
  /* top:-35.5%; */
  z-index:99;

  box-shadow: 0px 0px 25px 3px #6A87C9;
}
.ac
{
max-width:30%;
overflow-x:auto;
height:100%;
margin-top:18px;

}

