*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}
html,body{
height: 100%;
width: 100%;
}
 /* // nav */
 #icon{
	font-size: 50px;
	cursor: pointer;
	margin-left: 20px;

}

.text{
	font-size:20px;
	color:var(--blac);
	font-weight:100;
}


.neumorphic-nav {
  width:100%;
  height:10vh;
  
    align-items:flex-start; 
    display:flex;
    padding-left:10px;
    position:relative;
    z-index:99;
    background-color:#6A87C9;
   
}


.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    width:10%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.logo>h3 span{
  color:white;
}




#nav-c a {
  display:flex;
  text-decoration:none;
  font-family:sans-serif;
color:black;
gap:10px;
  

 
}

#nav-c
{
margin-left:10%;
  width:60%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:60px;
  font-size:17px;
  /* background-color:red; */
}



#login
{
  color:#6A87C9;
}
#logo-part2
{
width:35%;
margin-left:0%;
height:100%;
position:relative;
display:flex;
gap:30px;
align-items:center;
justify-content:center;
}
#logo-part2 a{
  text-decoration:none;
  color:black;
  gap:20px;
  display:flex;

}


  #header
  {
	
		height:10vh;
		/* background-color: #f0f0f0; */
		/* box-shadow: 0 8px 16px rgba(0,0,0, 0.1); */
	z-index:0;
	
	width:100%;
  }
  #language {
  
    width:100%;
    z-index:9;
    padding:12px 70px;
    border: 1px solid white;
    background-color:white;
    border-radius:25px;
  
    box-shadow: 0 0 2px 0 var(--pri) inset, 0 0 2px 1px pri;
   
    font-size: 16px;
    margin-top:2.5%;
   
    outline: none;
    
}

#text
{
	font-size:20px;
	color:var(--blac);
	border:none;
	box-shadow:none;
}
.field_name{
	margin:10px;
}

.input-area{
	height: 50%;
	width: 100%;
	background-color: var(--whit);
	border-radius: 50px;
	border: 1px solid #6A87C9;
	padding: 5px;
}

#abc
{
  margin-top:19%;
}

#schedule{
	padding: 20px;

}

#logo{
	font-size: 25px;
	color: #6A87C9;
}
/* nav ends */
/* center of page1 */
#main
{
    width:100%;
}

#page2
{
  width:100%;
  min-height:100vh;
  position: relative;
  display:flex;
  align-items:center;
  justify-content:center;
}

#page1h1{
/* position:absolute; */
text-align:center;
width:100%;
height:10vh;
/* margin-top:5%; */
font-family:sans-serif;
font-size:40px;
margin-bottom:1%;

/* text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
/* text-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;; */
text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
#page2left>h4{
width:80%;
font-size:20px;
margin-top:-2%;

}

#boxc12>h6
{
font-weight:600;

}
/* .boxc12 h3{
text-align:center;
} */
/* #address
{
margin-left:-2%;
text-align:center;
} */

#guide_name
{
width:100%;
/* background-color:red; */
color:#6A87C9;
}
#box13_image
{
height:104px;
width:194px;
border-radius:2px;
/* padding-right:-10px; */
}


.box1l a{
text-decoration:none;
color:black;
font-size: 20px;
}

#page2center
{
width:100%;
height:80vh;
display:flex;
align-items:center;
justify-content:center;
}
#icon
{
    position:absolute;
    right:3%;
    top:5%;
    text-decoration:none;
}
#icon i{
    font-size:40px;
    text-decoration:none;
    color:black;

}

#page2right
{
width:50%;
height:100%;
display:flex;
align-items:center;
justify-content:center;
gap:20px;
}
#page2left
{
width:50%;
height:100%;
display:flex;
align-items:flex-start;
gap:20px;
justify-content:flex-start;
flex-direction:column;
padding:40px;
color:#333;
box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 2px, #c6d2ee 0px -2px 2px, #c6d2ee 0px 4px 4px, rgba(0, 0, 0, 0.17) 0px 3px 5px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
text-align:left;
overflow-y:scroll;
position: relative;

/* background-color:blue; */
}


#boxc12
{
width:30%;
height:100%;
display:flex;
align-items:center;
justify-content:center;
/* background-color:red; */
/* padding-left:10px; */
}
#page2left h1
{
font-size:40px;
color:#6A87C9;
text-align:left;
/* text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
/* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */

}
#page2left h3{
font-size:25px;
width:75%;

}
.page2box{
height:60vh;
width:40%;
background-image:url(https://i.pinimg.com/564x/db/5b/75/db5b7551b4a1b5c8c90406194f199580.jpg);
background-position:center;
background-size:cover;
/* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
border-radius:10px;  
/* text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
#box1second
{
margin-right:10%;
background-image:url(https://i.pinimg.com/564x/b1/31/2c/b1312cfd0c20d8c83463d47e792cae3b.jpg);
background-position:center;
background-size:cover;

box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
/* margin-bottom:10%; */
border-radius:10px;
margin-top:10%;
}
::-webkit-scrollbar{
    display:none;
}
#wrapper_img
{
width:40px;
height:40px;
position:absolute;
right:6%;
top:6%;
/* top:17%; */
}
#Guides_h3
{
width:50px;
height:50px;
position:absolute;
right:6%;
top:15%;
color:#5d7dc8;
scale:1.2;

/* border-bottom:1px solid black; */
}
#page3
{
    width:100%;
    min-height:120vh;
        
}

#guide_h1
{
    text-align:center;
    width:100%;
    margin-bottom:6vh;
    margin-top:6vh;
    font-size:8vh;
    color:black;
    text-shadow: 2px 2px 4px #6A87C9;
}
.box1{
    width:100%;
    height:20vh;

    /* margin-top:5%; */
    /* border-right:1px solid black; */
border-radius:10px;
background-color:white;
    display:flex;
    box-shadow:1px 1px 2px gray;
    text-align:right;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 2px, #5d7dc8 0px -2px 10px, rgba(0, 0, 0, 0.12) 0px 2px 2px, rgba(0, 0, 0, 0.17) 0px 3px 2px, rgba(0, 0, 0, 0.09) 0px -1px 2px; */
    /* text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */

transition:all ease-in-out cubic-bezier(0.075, 0.82, 0.165, 1);

}
.box1:hover{
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, #5d7dc8 0px -12px 30px, #5d7dc8 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    box-shadow: 2px 2px 20px #6A87C9, -5px -5px 20px #ffffff;
   /* scale:1.1; */
}
#boxes1
{
    width:90%;
    margin:auto;
    min-height:25vh;
    /* overflow-y:hidden; */
  
   padding:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    gap:15px;
      border-radius:10px;
    padding-bottom:10vh;

}
.box1l{
    width:20%;
    height:100%;
   border-right:1px solid gray;
   display:flex;
   align-items:center;
   justify-content:center;
   gap:20px;
   font-size:20px;
  font-weight:100;
  position:relative;
flex-direction:column;
text-align:right;

}
#image
{
  width:100%;
  height:100%;
  object-fit:cover;
  object-position:center;
}
h5{
    font-size:20px;
    font-weight:400;
    text-align:left;
    
}
h6{
    margin-top:5px;
    font-size:17px;
    font-weight:400;
}
.box1r
{
  position:relative;
    text-align:right;
}
#box1{
 height:25vh;
 width:100%;


}
.boxc11
{
   
    width:50%;
    height:100%;
    text-align:center;
    display:flex;
    align-items:flex-start;
    justify-content:center;
    padding-left:10px;
    flex-direction:column;
    gap:10px;
  }
 
.box1r{
display:flex;
align-items:center;
justify-content:center;
}
#box1rh3
{
word-wrap: break-word;
text-align:center;
}

#l1image
{
    width:100%;
    height:100%;
    object-fit:cover;
    position:absolute;

}

.box1c{
    width:60%;
    height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
text-align:center;
    border-right:1px solid gray;

}
#box1c_part1
{
width:100%;
height:40%;
display:flex;
align-items:center;
justify-content:flex-start;
padding-left:10px;
border-bottom:1px solid gray;
}
#box1c_part2
{
height:60%;
width:100%;
/* background-color:#5d7dc8; */
display:flex;
align-items:center;
justify-content:center;
/* flex-direction:column; */
}

#box1c
{
  display:flex;
  align-items:center;
  justify-content:center;
text-align:center;
gap:20px;
}
.box1r
{
    width:20%;
    height:100%;
    /* border-left:none; */
display:flex;
align-items:center;
justify-content:center;
flex-direction:column;
gap:10px;

}
#box1submit
    {
        padding:10px 40px;
        border-radius:20px;
        border:none;
        box-shadow: 0 0 2px 0 #5d7dc8 inset, 0 0 2px 1px #6A87C9;
      background-color:white;
    }

    #finaltags
    {
        text-decoration:none;
        scale:2.1;
        color:black;
    }

    #page2
    {
      width:100%;
      min-height:100vh;
      position: relative;
    }
