*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}
html,body{
height: 100%;
width: 100%;
}
#main
{
    width:100%;
    height:100%;
}
#page1
{
    width:100%;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10vh;
    flex-direction:column;

}


#icon{
	font-size: 50px;
	cursor: pointer;
	margin-left: 20px;
}

.text{
	font-size:20px;
	color:var(--blac);
	font-weight:100;
}


.neumorphic-nav {
  width:100%;
  height:10vh;
  
    align-items:flex-start; 
    display:flex;
    padding-left:10px;
    position:relative;
    z-index:99;
    background-color:#6A87C9;
   
}


.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    width:10%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.logo>h3 span{
  color:white;
}




#nav-c a {
  display:flex;
  text-decoration:none;
  font-family:sans-serif;
color:black;
gap:10px;
  

 
}

#nav-c
{
margin-left:10%;
  width:60%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:60px;
  font-size:17px;
  /* background-color:red; */
}



#login
{
  color:#6A87C9;
}
#logo-part2
{
width:35%;
margin-left:0%;
height:100%;
position:relative;
display:flex;
gap:30px;
align-items:center;
justify-content:center;
}
#logo-part2 a{
  text-decoration:none;
  color:black;
  gap:20px;
  display:flex;

}


  #header
  {
	
		height:10vh;
		/* background-color: #f0f0f0; */
		/* box-shadow: 0 8px 16px rgba(0,0,0, 0.1); */
	z-index:0;
	
	width:100%;
  }
  #language {
  
    width:100%;
    z-index:9;
    padding:12px 70px;
    border: 1px solid white;
    background-color:white;
    border-radius:25px;
  
    box-shadow: 0 0 2px 0 var(--pri) inset, 0 0 2px 1px pri;
   
    font-size: 16px;
    margin-top:2.5%;
   
    outline: none;
    
}

#text
{
	font-size:20px;
	color:var(--blac);
	border:none;
	box-shadow:none;
}
.field_name{
	margin:10px;
}

.input-area{
	height: 50%;
	width: 100%;
	background-color: var(--whit);
	border-radius: 50px;
	border: 1px solid #6A87C9;
	padding: 5px;
}

#abc
{
  margin-top:19%;
}

#schedule{
	padding: 20px;

}

#logo{
	font-size: 25px;
	color: #6A87C9;
}
/* nav ends */


.box
{
    height:8vh;
    width:80%;
   

}

#center
{
    width:100%;
    height:90vh;
    display:flex;
    align-items:center;
    justify-content:center;
   flex-direction:column;
   gap:5vh;
   
}

form{
    width:90%;
    height:100%;
    display:flex;
    margin:auto;
    align-items:center;
    justify-content:center;
    /* border-radius:10vh; */

}

#box_input{
    width:80%;
    height:98%;
    border:none;
  padding-left:5vh;
  font-size:4vh;
  border:1px solid black;
  box-shadow: 0 0 2px 0 #6A87C9 inset, 0 0 2px 1px #6A87C9;

}
#submit{
    width:20%;
    height:98%;
    padding:2vh 5vh;
    background-color:#6A87C9;
    font-size:4vh;
    border:none;
    border-bottom-right-radius:20px;
    border-top-right-radius:20px;
    box-shadow: 0 0 2px 0 #6A87C9 inset, 0 0 2px 1px #6A87C9;

    /* border-radius:20px; */

}

#image
{
    width:100%;
    height:70%;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;

}
h1{
    width:100%;
    text-align:center;
}
#image>img{
    width:90%;
    height:100%;
    object-fit:cover;
    /* object-position:0% 5%; */
}