:root{
    --whit:#FFFFFF;
    --blac:black;

  }

  *{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family:sans-serif;

  }
  html,body{
  height: 100%;
  width: 100%;
  }
  #page1
  {
    width:100%;
    height:120vh;
    position:relative;

  }
  /* // nav */
  #icon{
	font-size: 50px;
	cursor: pointer;
	margin-left: 20px;
}

.text{
	font-size:20px;
	color:var(--blac);
	font-weight:100;
}


.neumorphic-nav {
  width:100%;
  height:10vh;

    align-items:flex-start;
    display:flex;
    padding-left:10px;
    position:relative;
    z-index:99;
    background-color:#6A87C9;

}


.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    width:10%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.logo>h3 span{
  color:white;
}




#nav-c a {
  display:flex;
  text-decoration:none;
  font-family:sans-serif;
color:black;
gap:10px;



}

#nav-c
{
margin-left:10%;
  width:60%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:60px;
  font-size:17px;
  /* background-color:red; */
}



#login
{
  color:#6A87C9;
}
#logo-part2
{
width:35%;
margin-left:0%;
height:100%;
position:relative;
display:flex;
gap:30px;
align-items:center;
justify-content:center;
}
#logo-part2 a{
  text-decoration:none;
  color:black;
  gap:20px;
  display:flex;

}


  #header
  {

		height:10vh;
		background-color: #f0f0f0;
		box-shadow: 0 8px 16px rgba(0,0,0, 0.1);
	z-index:0;

	width:100%;
  }
  #language {

    width:100%;
    z-index:9;
    padding:12px 70px;
    border: 1px solid white;
    background-color:white;
    border-radius:25px;

    box-shadow: 0 0 2px 0 var(--pri) inset, 0 0 2px 1px pri;

    font-size: 16px;
    margin-top:2.5%;

    outline: none;

}

#text
{
	font-size:20px;
	color:var(--blac);
	border:none;
	box-shadow:none;
}
.field_name{
	margin:10px;
}

.input-area{
	height: 50%;
	width: 100%;
	background-color: var(--whit);
	border-radius: 50px;
	border: 1px solid #6A87C9;
	padding: 5px;
}



#schedule{
	padding: 20px;

}

#logo{
	font-size: 25px;
	color: #6A87C9;
}
/* nav ends */
/* center of page1 */

#center
{
    width:100%;
    height:90vh;
    /* margin-top:10vh; */
    /* background-color:red; */
    display:flex;
    align-items:center;
    justify-content:center;
    padding:20px;
}
#center>#left
{
    width:50%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    font-size:43px;

    position:relative;

}
#right_h1{
  font-family:sans-serif;

    font-weight:100;
    margin-left:3%;
    top:45%;
    width:40%;
    font-size:95px;
    z-index:99;
    font-weight:600;
    position:absolute;
    line-height:100px;

}
#center>#right
{
    width:50%;
    height:100%;

    display:flex;
    align-items:center;
    justify-content:flex-start;
    font-size:43px;

    line-height:110px;

}

/* orenge part animation */
 #gooey {
    height: 22vw;
    width: 26vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right, #6A87C9, #5d7dc8);
    /* background: linear-gradient(to top right,red,blue); */


    top: 45%;
    left:-9%;
    filter: blur(20px);
    animation-name: gooey;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

}

@keyframes gooey {
    from {
        filter: blur(20px);
        transform: translate(10%, -10%) skew(0);
    }

    to {
        filter: blur(30px);
        transform: translate(-10%, 10%) skew(-8deg);
    }
}


/* bar */


.neumorphic-box {
    position:absolute;
width:64%;
height:10vh;
    top:7%;
    left:18%;
    overflow:hidden;
    display:flex;
    border-radius:10px;
    align-items:center;
    z-index:999;
    /* box-shadow: 10px 10px 20px #d1d1d1, -10px -10px 20px #ffffff; */
        box-shadow: 10px 10px 20px #6A87C9, -10px -10px 20px #ffffff;


    /* border-right:1px solid #6A87C9; */
    justify-content:center;

  }
  .section1> input
  {
   width: 100%;
   height:50%;
   font-size:18px;
   text-align:center;
   border-radius:10px;
  }
  .section> input
  {
   width:100%;
   height:50%;
   border-radius:10px;
 padding:20px;
 font-size:16px;


  }

  .section1
  {
    width:38%;
  height:20vh;
  display:flex;
  align-items:center;
  flex-direction:column;
  gap:20px;
  padding:20px;
  border-right:1px solid #6A87C9;

  justify-content:center;
  flex-direction:column;

  }
  .section
  {
    /* position:absolute; */
    width:24%;
  height:20vh;
display:flex;
  align-items:center;
  flex-direction:column;
  gap:20px;
  border-right:1px solid #6A87C9;

  padding:20px;
  justify-content:center;
  flex-direction:column;

  }
  .section>h3{

    font-weight:100;
    }

  #submit
{
  background-color:transparent;
  /* padding:12px 40px; */
  width:98%;
  height:50%;
  border-radius:10px;
  border:none;
  background-color:#6A87C9;
color:black;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
font-size:20px;
/* margin-bottom:20px; */

}
#section3
{
  display:flex;
  align-items:center;
  justify-content:center;

  /* margin-bottom:20px; */

}

#leftimage{
  position:absolute;
  right:2%;
  top:49.5%;
  z-index:-9;
  scale:1;
  /* border-radius:50%; */
/* height:400px; */

}
#page1image{
  /* left:-2%; */
  position:absolute;
  top:2%;
  z-index:-200;
  margin-left:3%;

}

/* page2 */



#page2
{
    width:100%;
    height:100vh;
    background-color:white;
    position: relative;
    /* font-family:gilroy; */
    overflow:hidden;
}

#circle
{
    width:200vh;
    height:200vh;
    display:flex;
    align-items:center;
    justify-content:center;
    /* background-color:red; */
    transform:translate(0,-50%)rotate(100deg);
    border-radius:50%;
    position:absolute;
    border:2px solid #f1f1f1;
    left:-100vh;
    top:50%;
}
.second >a{
    text-decoration:none;
    font-size:3vw;
    text-shadow: 2px 2px 4px #6A87C9;
    color:black;
}
.stripe
{
position:absolute;
top:50%;
left:50%;
transform:translate(0,-50%);
width:100%;
height:60px;
transform-origin:0% 50%;
/* background-color:yellow; */
display:flex;
align-items:center;
justify-content:center;
}
.str0
{
    transform:translate(0,-50%) rotate(-30deg);

}
.str2
{
    transform:translate(0,-50%) rotate(-20deg);

}
.str3
{
    transform:translate(0,-50%) rotate(-10deg);

}.str4
{
    transform:translate(0,-50%) rotate(10deg);

}.str5
{
    transform:translate(0,-50%) rotate(20deg);

}
.str6
{
    transform:translate(0,-50%) rotate(30deg);

}
.str7
{
    transform:translate(0,-50%) rotate(-40deg);

}


.first
{
    width:50%;
    height:100%;
    /* background-color:blue; */
    position:relative;
}
.second
{
    padding-left:30px;
    width:50%;
    height:100%;
        font-family:sans-serif;

    /* background-color:pink; */
opacity:.4;
}
.second h2{
    font-size:3vw;
    text-shadow: 2px 2px 4px #6A87C9;
    font-family:sans-serif;
    /* opacity:.5; */
}
.second h4{
font-size:1vw;
opacity:.5;
/* color:#6A87C9; */
/* font-weight:15; */
/* opacity:.4; */
}
.smcircle
{
    border-radius:50%;
    position:absolute;
    right:-0.3vw;
    top:50%;
    transform:translate(0,-50%);
    width:.5vw;
    height:.5vw;
    background-color:#5b5b5b77;
}
#panel
{
    position:absolute;
    right:3%;
    top:50%;
    transform:translate(0,-50%);
    width:5%;
    height:30%;
    /* background-color:red; */
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    flex-direction:column;
}
.mncircle
{
    width:1vw;
    height:1vw;
    background-color:black;
    border-radius:50%;
    opacity:.2;

}
.image{
    position:absolute;
    width:150px;
    height:180px;


}
#image1
{
    left:33%;
    top:-20%;

}
#image2
{
    left:33%;
    top:50%;

}
#image:hover{
z-index:999;
}

#sec
{
    width:400px;
    height:400px;
    position:absolute;
    /* text-align:center; */
    display:flex;
    align-items:center;
    justify-content:center;
    position:absolute;
    left:2%;
    top:15%;
}
#sec>h1{
    font-size:100px;
    font-family:sans-serif;
overflow:auto;
    font-weight:400;
    line-height:90px;
    /* text-shadow: 4px 4px 6px #6A87C9; */

}

#sec1
{
    width:400px;
    height:400px;
    position:absolute;
    /* text-align:center; */
    display:flex;
    align-items:center;
    justify-content:center;
    position:absolute;
    right:10%;
    top:20%;
    text-align:center;
}

#sec1>h2{
    font-size:30px;
    /* width:400px;
    height:400px; */
    font-weight:100;
    /* text-shadow: 2px 2px 6px gray; */
font-family:sans-serif;

}

/* page3 */
   #page3
        {
          width:100%;
          min-height:100vh;
        }

  #page3>h1{
/* position:absolute; */
text-align:center;
margin-left:50%;
transform:translate(-50%,-50%);
/* margin-top:5%; */
font-family:sans-serif;
font-size:50px;
width:70%;
/* text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
/* text-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;; */
    text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  }

  #page3center
  {

    width:100%;
    height:80vh;
    /* background-color:red; */
    display:flex;
    align-items:center;
    justify-content:center;
  }
  #page3right
  {
    width:50%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:20px;
  }
  #page3left
  {
    width:50%;
    height:100%;
      overflow-y:auto;
    display:flex;
    align-items:flex-start;
    gap:20px;
    /* justify-content:space-evenly; */
    flex-direction:column;
    padding:40px;
    color:#333;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 2px, #c6d2ee 0px -2px 2px, #c6d2ee 0px 4px 4px, rgba(0, 0, 0, 0.17) 0px 3px 5px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    /* text-align:center; */
    /* background-color:blue; */
  }
  #page3left h1
  {
   font-size:60px;
   color:#6A87C9;
   /* text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */

  }
  #page3left h3{
    font-size:30px;
    width:75%;
  }
  .page3box{
    height:60vh;
    width:40%;
    background-image:url(https://i.pinimg.com/564x/db/5b/75/db5b7551b4a1b5c8c90406194f199580.jpg);
  background-position:center;
  background-size:cover;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius:10px;
  /* text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */

}
  #box1second
  {
    margin-right:10%;
    background-image:url(https://i.pinimg.com/564x/b1/31/2c/b1312cfd0c20d8c83463d47e792cae3b.jpg);
    background-position:center;
    background-size:cover;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
/* margin-bottom:10%; */
    border-radius:10px;
    margin-top:10%;
  }
  #box2second
  {
    background-image:url(https://i.pinimg.com/564x/bd/3d/02/bd3d02a7550c184ab7ba8060f793a78f.jpg);
    background-position:center;
    background-size:cover;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
margin-top:-10%;
    border-radius:10px;
  }

  #box2first
  {
    background-image:url(https://i.pinimg.com/564x/a4/68/de/a468de1413263bfcbc5374ceac439177.jpg);
    background-position:center;
    background-size:cover;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
/* margin-bottom:10%; */
    border-radius:10px;
    margin-top:10%;
  }
  .abc
  {
    margin-top:4%;
  }
  .page3left1
  {

    text-align:left;

  }
  .page3left1>h1{
    margin-left:2%;
    text-align:right;

  }
  .page3left1>h3{
    margin-left:2%;

  }
  /* footer */
  .footer{
    background:#000;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    margin-top:-2%;
    text-align:center;
    width:100%;
    height:38vh;
    }

    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    .footer i:hover{
      color:gray;
    }
    .footer .row a{
    text-decoration:none;
    color:white;
    transition:0.5s;
    }

    .footer .row a:hover{
    color:#fff;
    }

    .footer .row ul{
    width:100%;
    }

    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }

    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }

    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }

